/* https://codepen.io/ryanz67/pen/QGyYrZ */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    font-size: 62.5%;
  }
  
  body {
    background-color: #21282C;
    overflow: hidden;
  }
  
  .speaker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 10rem;
    height: 7.7rem;
  }
  
  .vlCtrl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    height: 2.7rem;
    width: 28rem;
  }
  
  svg, path {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  #ctrlCirce {
    cursor: default;
  }
  
  .volElem {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }